[Desktop Entry]
Encoding=UTF-8
Name=Link to ICT-DM-Aghiles - Online LaTeX Editor Overleaf
Type=Link
URL=https://www.overleaf.com/project/5d9ec3ba78049300018ca8a2
Icon=text-html
Name[en_US]=Overleaf
